<?xml version="1.0"?>
<configuration>

	<appSettings>

		<!-- HERMES Authentication Settings -->

		<!-- [REQUIRED] -->
		<add key="Hermes.Auth.Key" value="RANDOM_KEY_HERE" />

		<!-- [REQUIRED] -->
		<add key="Hermes.Auth.Provider.Testing" value="Hermes.Authentication.Providers.SimpleAuthenticator|test-user|password|Testing-Manager;Testing-User" /> <!-- TYPE|Username|Password|Role1;Role2 -->

		<!-- [OPTIONAL] Will turn off cookie hash checking if not supplied -->
		<add key="Hermes.Auth.Hash.Path" value="C:\Hermes\Hashes" />

		<!-- [OPTIONAL] Will default to URL Domain if not supplied -->
		<!-- <add key="Hermes.Auth.Domain" value="www.example.com" /> -->
		
		<!-- [OPTIONAL] Will default to 7 Days if not supplied -->
		<!-- <add key="Hermes.Auth.Expiration" value="14" /> -->

		<!-- [OPTIONAL] Will default to bin if not supplied -->
		<!-- <add key="Hermes.Auth.Providers.Path" value="bin" /> -->

		<!-- [OPTIONAL] Will default to no logging if not supplied -->
		<!-- <add key="Hermes.Auth.Log.Path" value="C:\Hermes\Log-Files\hermes-{0}-log_{1}.txt" /> -->
		<!-- The {0} Param is the name of the log (e.g. Config or Server), the {1} Param is the ID of the Session -->

		<!-- HERMES Authentication Settings -->


		<!-- HERMES Files Settings -->
		<add key="Hermes.Files.Provider.Example_Local" value="Hermes.Files.Providers.FileSystemProvider|C:\Hermes\Files|*.pdf" />
		<add key="Hermes.Files.Provider.Example_Normal" value="Hermes.Files.Providers.FileSystemProvider|\\server.example.com\Share_1\Folder_1|*.pdf" />
		<add key="Hermes.Files.Provider.Example_Secure" value="Hermes.Files.SecuredFolderProvider|\\server.example.com\Share_1\Folder_2|* [{0}]|SubFolder_1|*.pdf" />

		<!-- [OPTIONAL] Will default to NO AUTHENTICATION REQUIRED if not supplied, use * to allow any provider or ; delineated names of the providers -->
		<add key="Hermes.Files.Requires.Authentication.Providers" value="*" />

		<!-- HERMES Files Settings -->

	</appSettings>

	<system.web>

		<httpHandlers>

			<!-- Example Mapping of Files/File Handler to 'file.aspx' -->
			<add verb="GET" path="file.aspx" type="Hermes.Files.Web.File, Hermes"/>

			<!-- Example Mapping of Authentication/Login Handler to 'file.aspx' -->
			<add verb="POST" path="login.aspx" type="Hermes.Authentication.Login, Hermes" />
			
			<!-- Example Use of Dynamically Loaded .asmx/Web-Service Types by replacing standard handler -->
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" type="Hermes.Web.Handlers.WebServiceHandlerFactory, Hermes" validate="false" />
			
		</httpHandlers>

	</system.web>

</configuration>